{{#relationships.length}}
<div class="card card-block">
    <h2 class="text-primary">
        <i class="fas fa-users fa-fw"></i> Relationships
    </h2>

    <div class="row">
        {{#relationships}}
        <div class="col-md-4 text-center mb-2">
            <a href="{{{link}}}" target="_black">
                <img src="{{{img}}}" class="d-block mx-auto mb-2 rounded-circle">
                <strong class="mb-0">{{name}}</strong>
            </a>
            <p class="mb-1 text-muted small">{{status}}</p>

            <p>{{{summary}}}</p>
        </div>
        {{/relationships}}
    </div>
</div>
{{/relationships.length}}