<div class="card card-default card-block" style="width: 80%; margin: auto;">
    <div class="col-12">
        <div style="text-align: center; line-height: 10px;">
            <h1 class="text-primary">{{name}}</h1>
            <p class="text-secondary">{{{description}}}</p>
        </div>

        <p class="card-block">{{{about}}}</p>
    </div>

    <div class="row" style="width:80%; margin:auto; text-align:center;">
        <div class="col">
            <div class="card-block">
                <a href="{{{socialmedia.furaffinity}}}" target="_black" class="btn btn-primary" style="width:100%;margin:5px;"><i class="fa fa-paw"></i> furaffinity</a>
                <a href="{{{socialmedia.tumblr}}}" target="_black" class="btn btn-primary" style="width:100%;margin:5px;"><i class="fab fa-tumblr"></i> Tumblr</a>
                <a href="{{{socialmedia.deviantart}}}" target="_black" class="btn btn-primary" style="width:100%;margin:5px;"><i class="fab fa-deviantart"></i> Deviantart</a>
                <a href="{{{socialmedia.twitter}}}" target="_black" class="btn btn-primary" style="width:100%;margin:5px;"><i class="fab fa-twitter"></i> Twitter</a>
                <div class="btn btn-primary" style="width:100%;margin:5px;user-select: auto;cursor: auto;"><i class="fab fa-discord"></i> {{{socialmedia.discord}}}</div>
                <br><br>
                <p>code by [<b><a href="https://toyhou.se/snail-legs">snail-legs</a></b>]</p>
            </div>
        </div>
    </div>
</div>