<div class="row no-gutters">
    <div class="py-3 pl-3 col-4 bg-faded">
        <div class="card mx-auto">
            <img src="{{{images.avatar}}}" class="rounded-circle mx-auto mt-4 d-block" alt="Avatar">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{{description}}}</p>
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    {{#links.twitter}}
                    <div class="col-2">
                        <a href="{{{links.twitter}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-twitter"></i>
                        </a>
                    </div>
                    {{/links.twitter}}

                    {{#links.facebook}}
                    <div class="col-2">
                        <a href="{{{links.facebook}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-facebook"></i>
                        </a>
                    </div>
                    {{/links.facebook}}

                    {{#links.instagram}}
                    <div class="col-2">
                        <a href="{{{links.instagram}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>
                    </div>
                    {{/links.instagram}}

                    {{#links.deviantart}}
                    <div class="col-2">
                        <a href="{{{links.deviantart}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-deviantart"></i>
                        </a>
                    </div>
                    {{/links.deviantart}}

                    {{#links.youtube}}
                    <div class="col-2">
                        <a href="{{{links.youtube}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-youtube"></i>
                        </a>
                    </div>
                    {{/links.youtube}}
                    
                    {{#links.furaffinity}}
                    <div class="col-2">
                        <a href="{{{links.furaffinity}}}" class="card-link" target="_blank">
                            <i class="fas fa-2x fa-paw"></i>
                        </a>
                    </div>
                    {{/links.furaffinity}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 bg-faded py-4">
        <div class="row no-gutters mt-2 ml-3">
            <div class="col-12">
                {{#name}}
                <div class="row">
                    <div class="col-12">{{name}}</div>
                </div>
                <hr/>
                {{/name}}
                {{#gender}}
                <div class="row">
                    <div class="col-12">{{gender}}</div>
                </div>
                <hr/>
                {{/gender}}
                {{#age}}
                <div class="row">
                    <div class="col-12">{{age}}</div>
                </div>
                <hr/>
                {{/age}}
                {{#about}}
                <div class="row">
                    <div class="col-12">
                        {{{about}}}
                    </div>
                </div>
                {{/about}}
            </div>
        </div>
    </div>
</div>