<div class="row">
    <div col="col-4">
        <div class="card">
            <img src="{{{images.avatar}}}" class="rounded-circle mx-auto d-block" alt="Avatar">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{{description}}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    {{#links.twitter}}
                    <div class="col-2">
                        <a href="{{{links.twitter}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-twitter"></i>
                        </a>
                    </div>
                    {{/links.twitter}}

                    {{#links.facebook}}
                    <div class="col-2">
                        <a href="{{{links.facebook}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-facebook"></i>
                        </a>
                    </div>
                    {{/links.facebook}}

                    {{#links.instagram}}
                    <div class="col-2">
                        <a href="{{{links.instagram}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>
                    </div>
                    {{/links.instagram}}

                    {{#links.deviantart}}
                    <div class="col-2">
                        <a href="{{{links.deviantart}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-deviantart"></i>
                        </a>
                    </div>
                    {{/links.deviantart}}

                    {{#links.youtube}}
                    <div class="col-2">
                        <a href="{{{links.youtube}}}" class="card-link" target="_blank">
                            <i class="fab fa-2x fa-youtube"></i>
                        </a>
                    </div>
                    {{/links.youtube}}
                    
                    {{#links.furaffinity}}
                    <div class="col-2">
                        <a href="{{{links.furaffinity}}}" class="card-link" target="_blank">
                            <i class="fas fa-2x fa-paw"></i>
                        </a>
                    </div>
                    {{/links.furaffinity}}
                </div>
            </div>
        </div>
    </div>
    <div col="col-8">
        <div class="row no-gutters mt-2 ml-4">
            <div class="col-12">
                <div class="row">
                    <div col="col-12">{{name}}</div>
                </div>
                <hr/>
                <div class="row">
                    <div col="col-12">{{gender}}</div>
                </div>
                <hr/>
                <div class="row">
                    <div col="col-12">{{age}}</div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <div class="row">
        <div col="col-12">
            {{bio}}
        </div>
    </div>
</div>