<div class="row mb-3 pt-1">
    <div class="col-6 text-left">
        <button id="btnCollapseConfig" class="btn btn-primary" type="button" data-toggle="collapse"
            data-target="#collapseConfig" aria-expanded="true" aria-controls="collapseConfig">
            {{ site.data.strings.editor.config.header }}
        </button>
    </div>
    <div class="col-6 text-right main-config-add-container">
        <button id="btnAddConfig" type="button"
            class="btn btn-success main-config-controls">{{ site.data.strings.editor.config.add_btn }}</button>
        <button id="btnSaveConfig" type="button"
            class="ml-1 btn btn-info main-config-controls">{{ site.data.strings.editor.config.save_btn }}</button>
    </div>
</div>
<div class="collapse form-group" id="collapseConfig">
    <div class="row mt-3 mb-2 main-config-lock-container">
        <div class="col-2">
            <input id="chbLockConfig" class="mt-1" data-size="small" type="checkbox" data-toggle="toggle"
                data-on="<i class='fa fa-lock'></i>" data-off="<i class='fa fa-unlock'></i>"
                data-offstyle="outline-primary" data-onstyle="outline-success" />
        </div>
        <div class="col-8">
            <small id="chbLockConfigHelp" class="form-text text-muted mt-0"></small>
        </div>
        <div class="col-2">
            <input id="chbConfigMode" class="mt-1" data-size="small" type="checkbox" data-toggle="toggle"
                data-on="{{ site.data.strings.editor.config.mode_yaml }}"
                data-off="{{ site.data.strings.editor.config.mode_json }}" data-offstyle="outline-primary"
                data-onstyle="outline-success" data-width="60px" />
        </div>
    </div>
    <div class="row mt-2 main-config-container">
        <div class="col-12">
            <div class="main-config-json-container">
                <textarea id="txtConfigJSON" aria-describedby="configHelp"></textarea>
            </div>
            <div class="main-config-yaml-container">
                <textarea id="txtConfigYAML" aria-describedby="configHelp"></textarea>
            </div>
            <div id="configError" class="mt-1 alert alert-danger" role="alert"></div>
            <small id="configHelp"
                class="form-text text-muted">{{ site.data.strings.editor.config.help }}</small>
            <small id="configHelpKeywords" class="form-text text-muted"></small>
        </div>
    </div>
</div>
