<hr class="mt-5">
<h3> Credit</h3>
<p>
    All of the Layouts are F2U (Free2Use) and made by Coders and Designer at <a href="https://toyhou.se/~forums/16.htmlcss-graphics/93890.coder-directory">TOYHOU.SE</a>, got permission to use them here.
</p>


<h3> Contribute</h3>
<p>
    This Project is open-source, you can contribute your themes via <a href="{{ site.github_link | append: '/pulls' }}">PR</a> or <a href="{{ site.pm_link }}">PM</a> me with <strong>your</strong> Layouts. (DO NOT steal Layouts or contribute without permission from the original Designer).<br/>
    <h4>@TODO: How to Contribute Themes via PR with example template, config etc.</h4>
</p>


<h3>Links</h3>
<ul>
    <li><a href="https://toyhou.se/">TOYHOU.SE</a></li>
    <li><a href="https://toyhou.se/~forums/16.htmlcss-graphics/53428.how-to-add-coding-to-your-profiles-">How to add coding to your Profiles in TOYHOU.SE</a></li>
    <li><a href="https://toyhou.se/~forums/16.htmlcss-graphics/93890.coder-directory">TOYHOU.SE Layout Coder Directory</a></li>
</ul>
    