<div class="form-group">
    <a href="#sectionPreviewCode">{{ site.data.strings.preview.goto_preview_code }}</a>
</div>
<div class="form-group">
    <div
        class="border border-white embed-responsive embed-responsive-16by9 main-template-editors-preview-container">
        <div class="embed-responsive-item preview-html overflow-auto profile-content-content user-content fr-view" id="preview-html"></div>
    </div>
    <small id="previewHelp"
        class="form-text text-muted">{{ site.data.strings.preview.help }}</small>
</div>