<section id="sectionLayouts">
    <h2>{{ site.data.strings.layouts.header }}</h2>
    <div class="row mb-4 mx-2">
        <div class="col-12">
            <small class="text-muted">{{ site.data.strings.layouts.header_help }}</small>
        </div>
        <div class="col-12 mt-2">
            {%- assign templates_url = 'templates/' | absolute_url -%}
            {%- for template in site.data.templates -%}
            {%- unless template.disable or template.disabled -%}
            {%- assign keywords_str = template.keywords | join: ", " -%}
            {%- if template.preview -%}
            <div class="d-inline" style="width: 14rem;">
                <button type="button" class="btn btn-link card d-inline m-1 layout-pattern"
                    style="width: 14rem; min-height: 300px; {{ template.style }}"
                    data-name="{{ template.name | escape }}" data-author="{{ template.author | escape }}"
                    data-author-link="{{ template.author_link }}"
                    data-template="{{ template.template | prepend: templates_url }}"
                    data-css="{{ template.css | prepend: templates_url }}"
                    data-config="{{ template.config | prepend: templates_url }}"
                    data-license="{{ template.license | escape }}" data-link="{{ template.link }}"
                    data-description="{{ template.description | escape }}" data-keywords="{{ keywords_str | escape }}">
                    <img class="card-img-top" style="width: 200px; max-height: 250px;" src="{{ template.preview }}"
                        alt="Preview {{ template.name | escape }}">
                    <div class="card-img-overlay">
                        {%- if template.type == 'character' -%}
                        <p class="card-text text-right"><span
                                class="badge badge-pill badge-primary">{{ site.data.strings.layouts.type_character }}</span>
                        </p>
                        {%- elsif template.type == 'user' -%}
                        <p class="card-text text-right"><span
                                class="badge badge-pill badge-secondary">{{ site.data.strings.layouts.type_user }}</span>
                        </p>
                        {%- else -%}
                        <p class="card-text text-right"><span
                                class="badge badge-pill badge-info">{{ template.type | escape}}</span></p>
                        {%- endif -%}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ template.name | escape }}
                        </p>
                        <h6 class="card-subtitle">{{ site.data.strings.layouts.by_author }}{{ template.author }}</h6>
                    </div>
                </button>
            </div>
            {%- else -%}
            <button type="button" class="mr-1 mt-1 mb-2 btn layout-pattern" style="{{ template.style }}"
                data-name="{{ template.name | escape }}" data-author="{{ template.author | escape }}"
                data-author-link="{{ template.author_link }}"
                data-template="{{ template.template | prepend: templates_url }}"
                data-css="{{ template.css | prepend: templates_url }}"
                data-config="{{ template.config | prepend: templates_url }}"
                data-license="{{ template.license | escape }}" data-link="{{ template.link }}"
                data-description="{{ template.description | escape }}" data-keywords="{{ keywords_str | escape }}">
                {{ template.name | escape }} <span
                    class="badge badge-light">{{ site.data.strings.layouts.by_author }}{{ template.author }}</span>
                {%- if template.type == 'character' -%}
                <span class="badge badge-pill badge-primary">{{ site.data.strings.layouts.type_character }}</span>
                {%- elsif template.type == 'user' -%}
                <span class="badge badge-pill badge-secondary">{{ site.data.strings.layouts.type_user }}</span>
                {%- else -%}
                <span class="badge badge-pill badge-info">{{ template.type | escape}}</span>
                {%- endif -%}
            </button>
            {%- endif -%}
            {%- endunless -%}
            {%- endfor -%}
        </div>
    </div>
</section>

<section class="saved-content-container">
    <h2>{{ site.data.strings.content.header }}</h2>
    <div class="row mb-4 mx-2">
        <div class="col-12">
            <small class="text-muted">{{ site.data.strings.content.header_help }}</small>
        </div>
        <div class="col-12 mt-2 saved-content-list">
        </div>
    </div>
</section>

<section id="sectionEditor">
    <h2>{{ site.data.strings.editor.header}}</h2>
    <div class="row mb-4">
        <div class="col-md-8 main-template-editors-container">
            <ul class="nav nav-tabs" id="templateTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="preview-tab" data-toggle="tab" href="#previewTabContent" role="tab"
                        aria-controls="preview" aria-selected="false">{{ site.data.strings.editor.preview_tab }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="template-tab" data-toggle="tab" href="#templateTabContent" role="tab"
                        aria-controls="template" aria-selected="true">{{ site.data.strings.editor.template_tab }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="css-tab" data-toggle="tab" href="#cssTabContent" role="tab"
                        aria-controls="css" aria-selected="false">{{ site.data.strings.editor.css_tab }}</a>
                </li>
            </ul>
            <div class="tab-content" id="templateTabsContent">
                <div class="mt-3 p-1 tab-pane fade show active" id="previewTabContent" role="tabpanel"
                    aria-labelledby="preview-tab">
                    <div class="form-group">
                        <a href="#sectionPreviewCode">{{ site.data.strings.preview.goto_preview_code }}</a>
                    </div>
                    <div class="form-group">
                        <div
                            class="border border-white embed-responsive embed-responsive-16by9 main-template-editors-preview-container">
                            <div class="embed-responsive-item preview-html overflow-auto" id="preview-html"></div>
                        </div>
                        <small id="previewHelp"
                            class="form-text text-muted">{{ site.data.strings.preview.help }}</small>
                    </div>
                </div>
                <div class="mt-3 tab-pane fade show" id="templateTabContent" role="tabpanel"
                    aria-labelledby="template-tab">
                    {% if site.options.withWYSIWYGEditor %}
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input id="chbLivePreview" type="checkbox" data-toggle="toggle" />
                                <span id="chbLivePreviewHelp"></span>
                            </label>
                        </div>
                        <button id="btnEnableWYSIWYGEditor" type="button" class="btn btn-outline-secondary"></button>
                    </div>
                    <div class="form-group">
                        <div class="main-template-editors-editor-container">
                            <textarea id="txtTemplate" aria-describedby="templateHelp"></textarea>
                        </div>
                        <div class="main-template-editors-WYSIWYG-editor-container">
                            <textarea id="txtTemplateWYSIWYG" aria-describedby="templateHelp"></textarea>
                        </div>
                        <div id="templateError" class="mt-1 alert alert-danger" role="alert"></div>
                        <small id="templateHelp"
                            class="form-text text-muted">{{ site.data.strings.editor.template.template_help }}</small>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="chbLivePreview" />
                            <label id="chbLivePreviewHelp" class="custom-control-label" for="chbLivePreview"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div
                            class="mt-1 pt-2 main-template-editors-editor-container main-template-editors-no-WYSIWYG-container">
                            <textarea id="txtTemplate" aria-describedby="templateHelp"></textarea>
                        </div>
                        <div id="templateError" class="mt-1 alert alert-danger" role="alert"></div>
                        <small id="templateHelp"
                            class="form-text text-muted">{{ site.data.strings.editor.template.template_help }}</small>
                    </div>
                    {% endif %}
                </div>
                <div class="mt-3 tab-pane fade" id="cssTabContent" role="tabpanel" aria-labelledby="css-tab">
                    <div class="form-group py-2">
                    </div>
                    <div class="form-group pt-2">
                        <textarea id="txtCSS" aria-describedby="cssHelp"></textarea>
                        <small id="cssHelp"
                            class="form-text text-muted">{{ site.data.strings.editor.template.css_help }}</small>
                    </div>
                </div>
            </div>
        </div>
        {%- if site.options.withWYSIWYGEditor -%}
        {%- assign main_config_editors_container = "main-config-editors-container" -%}
        {%- else %}
        {%- assign main_config_editors_container = "main-config-editors-container main-config-editors-no-WYSIWYG-container" -%}
        {%- endif -%}
        <div class="col-md-4 {{ main_config_editors_container }}">
            <div class="row mb-3 pt-1">
                <div class="col-6 text-left">
                    <button id="btnCollapseConfig" class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#collapseConfig" aria-expanded="true" aria-controls="collapseConfig">
                        {{ site.data.strings.editor.config.header }}
                    </button>
                </div>
                <div class="col-6 text-right main-config-add-container">
                    <button id="btnAddConfig" type="button"
                        class="btn btn-success main-config-controls">{{ site.data.strings.editor.config.add_btn }}</button>
                    <button id="btnSaveConfig" type="button"
                        class="ml-1 btn btn-info main-config-controls">{{ site.data.strings.editor.config.save_btn }}</button>
                </div>
            </div>
            <div class="collapse form-group" id="collapseConfig">
                <div class="row mt-3 mb-2 main-config-lock-container">
                    <div class="col-2">
                        <input id="chbLockConfig" class="mt-1" data-size="small" type="checkbox" data-toggle="toggle"
                            data-on="<i class='fa fa-lock'></i>" data-off="<i class='fa fa-unlock'></i>"
                            data-offstyle="outline-secondary" data-onstyle="outline-success" />
                    </div>
                    <div class="col-8">
                        <small id="chbLockConfigHelp" class="form-text text-muted mt-0"></small>
                    </div>
                    <div class="col-2">
                        <input id="chbConfigMode" class="mt-1" data-size="small" type="checkbox" data-toggle="toggle"
                            data-on="{{ site.data.strings.editor.config.mode_yaml }}"
                            data-off="{{ site.data.strings.editor.config.mode_json }}" data-offstyle="outline-secondary"
                            data-onstyle="outline-success" data-width="60px" />
                    </div>
                </div>
                <div class="row mt-2 main-config-container">
                    <div class="col-12">
                        <textarea id="txtConfigJSON" aria-describedby="configHelp"></textarea>
                        <textarea id="txtConfigYAML" aria-describedby="configHelp"></textarea>
                        <div id="configError" class="mt-1 alert alert-danger" role="alert"></div>
                        <small id="configHelp"
                            class="form-text text-muted">{{ site.data.strings.editor.config.help }}</small>
                        <small id="configHelpKeywords" class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 main-generate-container">
            <div class="form-group">
                <button type="button" id="btnGenerateBottom"
                    class="btn btn-primary btn-lg btn-block generate-btn">{{ site.data.strings.editor.generate_btn }}</button>
            </div>
        </div>
    </div>
</section>

<section id="sectionPreviewCode">
    <h3>{{ site.data.strings.code.header }}
        <button type="button" id="btnPreviewCodeCopy" class="btn btn-secondary d-inline" data-toggle="popover"
            data-content="{{ site.data.strings.code.popover_copied }}" data-trigger="manual"
            data-clipboard-action="copy" data-clipboard-target="#txtPreviewCode">
            <i class="fas fa-copy"></i>
        </button>
    </h3>
    <div class="row mb-1">
        <div class="col-12 mt-2 main-info-container">
            <div id="msgLayoutPatternInfo" class="alert alert-info" role="alert"></div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-12 main-preview-code-container">
            <div class="form-group">
                <small id="previewCodeHelp" class="form-text text-muted">{{ site.data.strings.code.help }}</small>
                <textarea id="txtPreviewCode" aria-describedby="previewCodeHelp" readonly></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 main-generate-container">
            <div class="form-group">
                <button type="button" id="btnGenerateBottom"
                    class="btn btn-primary btn-lg btn-block generate-btn">{{ site.data.strings.editor.generate_btn }}</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row mb-2 mt-5">
        <div class="col-md-12 main-misc-container">
            <div class="row">
                <div class="col-3">
                    <button id="btnClearTemplateStorage" type="button" class="btn btn-warning"
                        aria-describedby="clearTemplateStorageHelp">{{ site.data.strings.misc.clear_template_storage_btn }}</button>
                    <small id="clearTemplateStorageHelp"
                        class="form-text text-muted">{{ site.data.strings.misc.clear_template_storage_help }}</small>
                </div>
                <div class="col-3">
                    <button id="btnClearSavedConfigsStorage" type="button" class="btn btn-danger"
                        aria-describedby="clearSavedConfigsStorageHelp">{{ site.data.strings.misc.clear_saved_configs_storage_btn }}</button>
                    <small id="clearSavedConfigsStorageHelp"
                        class="form-text text-muted">{{ site.data.strings.misc.clear_saved_configs_storage_help }}</small>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ '/assets/js/site.js' | relative_url }}"></script>