<div class="container-fluid px-0" style="max-width: 1200px;">
    <div class="row no-gutters">
        <div class="col-md-4 push-md-8 pl-md-1 mb-3">
            <div class="card h-100 p-1 modal-open">
                <!---- focal image -- focus will be in the top center -- will scale and crop with screen -->
                <div style="background-image:url({{{images.avatar}}});
                background-size:cover; background-position:top-center; min-height:400px;"
                    class="card-block rounded d-flex h-100 focalImg">
                    {{#quote}}
                    <div class="card border-0 p-md-3 p-2 mb-2 mx-1 mt-auto" style="filter:opacity(80%);">
                        <p class="text-center small" style="letter-spacing:1px;">
                            "{{{quote}}}"</p>
                    </div>
                    {{/quote}}
                </div>
            </div>
        </div>
        <div class="col-md-8 pull-md-4 pr-md-1 mb-3">
            <div class="card border-0 card-block">
                <h1 class="text-center display-4">
                    <i class="fas fa-crown fa-fw"></i>
                </h1>

                <h1 class="text-primary text-center display-4" style="letter-spacing: 1.5px;">
                    {{title}}</h1>

                {{#description}}
                <h2 class="text-center text-uppercase small mb-4" style="font-weight: 300px; letter-spacing:1px;">
                    {{{description}}}</h2>
                {{/description}}

                <div class="row">
                    {{#name}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 one">
                            <span class="text-uppercase text-muted">Name</span> {{name}}
                        </div>
                    </div>
                    {{/name}}

                    {{#pronounce}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 two">
                            <span class="text-uppercase text-muted">Called</span> {{pronounce}}
                        </div>
                    </div>
                    {{/pronounce}}

                    {{#gender}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 three">
                            <span class="text-uppercase text-muted">Gender</span> {{gender}}
                        </div>
                    </div>
                    {{/gender}}

                    {{#age}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 four">
                            <span class="text-uppercase text-muted">Age</span> {{age}}
                        </div>
                    </div>
                    {{/age}}

                    {{#dob}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 one">
                            <span class="text-uppercase text-muted">DoB</span> {{dob}}
                        </div>
                    </div>
                    {{/dob}}

                    {{#sign}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 two">
                            <span class="text-uppercase text-muted">Sign</span> {{sign}}
                        </div>
                    </div>
                    {{/sign}}

                    {{#height}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 three">
                            <span class="text-uppercase text-muted">Height</span> {{height}}
                        </div>
                    </div>
                    {{/height}}

                    {{#build}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 four">
                            <span class="text-uppercase text-muted">Build</span> {{build}}
                        </div>
                    </div>
                    {{/build}}

                    {{#species}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 one">
                            <span class="text-uppercase text-muted">Race</span> {{species}}
                        </div>
                    </div>
                    {{/species}}

                    {{#role}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 two">
                            <span class="text-uppercase text-muted">Role</span> {{role}}
                        </div>
                    </div>
                    {{/role}}

                    
                    {{#mbti}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 three">
                            <span class="text-uppercase text-muted">MBTI</span> {{mbti}}
                        </div>
                    </div>
                    {{/mbti}}

                    {{#theme}}
                    <div class="col-md-6 mb-1">
                        <div class="d-flex justify-content-between p-2 four">
                            <span class="text-uppercase text-muted">Theme</span> <a href="{{{theme_link}}}"
                                target="_BLANK">{{theme}}</a>
                        </div>
                    </div>
                    {{/theme}}
                </div>

                <div class="row no-gutters mt-2 p-1 bg-faded modal-open" style="height:25px;">
                    <div style="background-color: #68393B;" class="col h-100">
                    </div>
                    <div style="background-color: #D78E7D;" class="col h-100">
                    </div>
                    <div style="background-color: #745341;" class="col h-100">
                    </div>
                    <div style="background-color: #E9D1C7;" class="col h-100">
                    </div>
                    <div style="background-color: #865366;" class="col h-100">
                    </div>
                    <div style="background-color: #512B37;" class="col h-100">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row no-gutters">
        {{#personality.likes.length}}
        <div class="col-md-6 pr-md-1 mb-3">
            <div class="card card-block pb-1 border-0">
                <h1 class="text-primary" style="letter-spacing:1px; font-weight:300;">
                    <i class="fas fa-heart fa-fw"></i> Likes
                </h1>
                <ul>
                    {{#personality.likes}}
                    <li>{{{.}}}</li>
                    {{/personality.likes}}
                </ul>
            </div>
        </div>
        {{/personality.likes.length}}

        {{#personality.dislikes.length}}
        <div class="col-md-6 pl-md-1 mb-3">
            <div class="card card-block pb-1 border-0">
                <h1 class="text-primary" style="letter-spacing:1px; font-weight:300;">
                    <i class="fas fa-ban fa-fw"></i> Dislikes
                </h1>
                <ul>
                    {{#personality.dislikes}}
                    <li>{{{.}}}</li>
                    {{/personality.dislikes}}
                </ul>
            </div>
        </div>
        {{/personality.dislikes.length}}

        {{#hobbies.length}}
        <div class="col-md-6 pl-md-1 mb-3">
            <div class="card card-block pb-1 border-0">
                <h1 class="text-primary" style="letter-spacing:1px; font-weight:300;">
                    <i class="fas fa-check fa-fw"></i> Hobbies
                </h1>
                <ul>
                    {{#hobbies}}
                    <li>{{{.}}}</li>
                    {{/hobbies}}
                </ul>
            </div>
        </div>
        {{/hobbies.length}}

        {{#bio}}
        <div class="col-12 mb-3">
            <div class="card card-block border-0">
                <h1 class="display-4 text-center text-primary">About</h1>

                <p>{{{bio}}}</p>
            </div>
        </div>
        {{/bio}}

        
        {{#relationships.length}}
        <div class="col-12">
            <div class="card card-block pb-1 border-0">
                <h1 class="text-primary" style="letter-spacing:1px; font-weight:300;">
                    <i class="fas fa-users fa-fw"></i> Related
                </h1>

                <div class="row">
                    {{#relationships}}
                    <div class="col-md-4 text-center mb-2">
                        <a href="{{{character_link}}}" target="_BLANK">
                            <img src="{{{img}}}" class="d-block mx-auto mb-2 rounded-circle" style="max-height:150px;">
                            <p style="font-weight:300; font-size: 1.25em" class="mb-0">{{character_name}}</p>
                        </a>
                        <p class="mb-1 text-muted small">{{status}}</p>

                        <p>{{{summary}}}</p>
                    </div>
                    {{/relationships}}
                </div>
            </div>
        </div>
        {{/relationships.length}}
        
        {{#gallery.length}}
        <div class="col-12">
            <div>
                <hr class="w-75 mb-4 mt-2">
            </div>
            <div class="row no-gutters modal-open" style="border-radius: 1em;">
                <div class="col-md-3 col-6">
                    <div style="background-image: url({{{.}}}); background-size: cover; background-position:center; height:200px;">
                    </div>
                </div>
            </div>
        </div>
        {{/gallery.length}}
    </div>
</div>

<div class="container-fluid px-0 mt-t" style="max-width: 1200px;">
    <p class="text-right">
        <a class="btn btn-primary" href="https://toyhou.se/Eggy" target="_BLANK"><i class="fas fa-code fa-fw"></i></a>
    </p>
</div>