<div class="row">
    <div class="col-2">
        <img src="{{&images.avatar}}" class="img-fluid rounded-circle" alt="Avatar">
        <h4 class="mt-1 text-center">{{ title }}</h4>
    </div>
    <div class="col-10">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="basic-info-tab" data-toggle="tab" href="#my-basic-info" role="tab" aria-controls="my-basic-info"
                    aria-selected="true">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="marks-tab" data-toggle="tab" href="#my-marks" role="tab"
                    aria-controls="profile" aria-selected="false">Marks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="personality-tab" data-toggle="tab" href="#my-personality" role="tab"
                    aria-controls="my-personality" aria-selected="false">Personality</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bio-tab" data-toggle="tab" href="#my-bio" role="tab"
                    aria-controls="my-bio" aria-selected="false">Bio</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active m-1" id="my-basic-info" role="tabpanel" aria-labelledby="basic-info-tab">
                <dl class="profile-fields-content fields">
                    <div class="row fields-field">
                        <dt class="field-title col-lg-3 col-md-4 fr-view">
                            <p>Name</p>
                        </dt>
                        <dd class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ name }}</p>
                        </dd>
                    </div>
                    <div class="row fields-field">
                        <dt class="field-title col-lg-3 col-md-4 fr-view">
                            <p>Sex</p>
                        </dt>
                        <dd class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ sex }}</p>
                        </dd>
                    </div>
                    <div class="row fields-field">
                        <dt class="field-title col-lg-3 col-md-4 fr-view">
                            <p>Species</p>
                        </dt>
                        <dd class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ species }}</p>
                        </dd>
                    </div>
                    <div class="row fields-field">
                        <dt class="field-title col-lg-3 col-md-4 fr-view">
                            <p>Weight</p>
                        </dt>
                        <dd class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ weight }}</p>
                        </dd>
                    </div>
                    <div class="row fields-field">
                        <dt class="field-title col-lg-3 col-md-4 fr-view">
                            <p>Height</p>
                        </dt>
                        <dd class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ height }}</p>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="tab-pane fade" id="my-marks" role="tabpanel" aria-labelledby="marks-tab">
                <div class="m-2 profile-content-content user-content fr-view">
                    <ul style="list-style-type:square;">
                        {{#marks}}
                            <li>{{.}}</li>
                        {{/marks}}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="my-personality" role="tabpanel" aria-labelledby="marks-personality">
                <div class="m-2 profile-content-content user-content fr-view">
                    <p><strong>{{ personality.personality }}</strong></p>
                    {{#personality.pros.length}}
                        <h5>Pros</h5>
                        <ul class="personality-pros">
                            {{#personality.pros}}
                                <li>{{.}}</li>
                            {{/personality.pros}}
                        </ul>
                    {{/personality.pros.length}}
                    
                    {{#personality.cons.length}}
                        <h5 class="mt-1">Cons</h5>
                        <ul class="personality-cons">
                            {{#personality.cons}}
                                <li>{{.}}</li>
                            {{/personality.cons}}
                        </ul>
                    {{/personality.cons.length}}

                    {{#personality.likes.length}}
                        <h5>Likes</h5>
                        <ul class="personality-likes">
                            {{#personality.likes}}
                                <li><i class="fas fa-heart"></i><span class="mx-1">{{.}}</span></li>
                            {{/personality.likes}}
                        </ul>
                    {{/personality.likes.length}}

                    
                    {{#personality.dislikes.length}}
                        <h5 class="mt-1">Dislikes</h5>
                        <ul class="personality-dislikes">
                            {{#personality.dislikes}}
                                <li><i class="fas fa-heart-broken"></i><span class="mx-1">{{.}}</span></li>
                            {{/personality.dislikes}}
                        </ul>
                    {{/personality.dislikes.length}}
                </div>
            </div>
            <div class="tab-pane fade" id="my-bio" role="tabpanel" aria-labelledby="bio-tab">
                <div class="m-2 profile-content-content user-content fr-view">
                    {{bio}}
                </div>
            </div>
        </div>
    </div>
</div>