<div class="row">
    <div class="col-2">
        <img src="{{&images.avatar}}" class="img-fluid rounded-circle" alt="Avatar">
        <h4 class="mt-1 text-center">{{ title }}</h4>
    </div>
    <div class="col-10">
        <dl class="profile-fields-content fields">
            <div class="row fields-field">
                <dt class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Name</p>
                </dt>
                <dd class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ name }}</p>
                </dd>
            </div>
            <div class="row fields-field">
                <dt class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Sex</p>
                </dt>
                <dd class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ sex }}</p>
                </dd>
            </div>
            <div class="row fields-field">
                <dt class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Species</p>
                </dt>
                <dd class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ species }}</p>
                </dd>
            </div>
            <div class="row fields-field">
                <dt class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Weight</p>
                </dt>
                <dd class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ weight }}</p>
                </dd>
            </div>
            <div class="row fields-field">
                <dt class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Height</p>
                </dt>
                <dd class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ height }}</p>
                </dd>
            </div>
        </dl>
    </div>
</div>