<div class="container" style="margin: auto;">
    <div class="row no-gutters mt-3">
        <div class="row mx-2">
            <div class="col-5 p-4 bg-faded rounded" style="min-height: 500px">
                <div class="mt-3 text-center">
                    <img src="{{{images.avatar}}}" class="img-fluid rounded-circle border" alt="Avatar">
                    <h4 class="mt-1">{{ title }}</h4>
                    <h5 class="mt-2">{{{ description }}}</h5>
                </div>

                {{#moodboard.length}}
                <div class="row mt-5 text-center">
                    <div class="col-12 mx-auto">
                        {{#moodboard.length}}
                        <div class="row no-gutters">
                            {{#moodboard}}
                            <div class="col-12 mb-2">
                                <img class="img-fluid rounded" alt="Moodboard" src="{{{.}}}">
                            </div>
                            {{/moodboard}}
                        </div>
                        {{/moodboard.length}}
                    </div>
                </div>
                {{/moodboard.length}}
            </div>
            <div class="col-7 mt-2">
                <div class="profile-fields-content fields">
                    {{#name}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Name</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ name }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/name}}

                    {{#sex}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Sex</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ sex }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/sex}}

                    {{#pronouns}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Pronouns</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ pronouns }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/pronouns}}

                    {{#species}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Species</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ species }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/species}}

                    {{#weight}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Weight</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ weight }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/weight}}

                    {{#height}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Height</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ height }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/height}}
                </div>

                {{#appearance}}
                <div class="card bg-faded w-100 my-2">
                    <h5 class="card-header">Appearance</h5>
                    <div class="card-body m-2">
                        <p class="card-text">{{{appearance}}}</p>
                    </div>
                </div>
                {{/appearance}}

                {{#references.length}}
                <div class="card bg-faded w-100 my-2">
                    <h5 class="card-header">References</h5>
                    <div class="card-body m-2">
                        {{#references}}
                        <div class="col-12 mb-2 px-1">
                            <div class="figure m-1 border rounded bg-faded">
                                <a href="{{{link}}}"><img src="{{{img}}}" class="figure-img img-fluid"
                                        alt="{{caption}}"></a>
                                <div class="figure-caption mx-2 mb-1">{{{caption}}}</div>
                            </div>
                        </div>
                        {{/references}}
                    </div>
                </div>
                {{/references.length}}

                {{#marks.length}}
                <div class="card bg-faded w-100 my-2">
                    <h5 class="card-header">Marks</h5>
                    <div class="card-body m-2">
                        <ul style="list-style-type:square;">
                            {{#marks}}
                            <li>{{{.}}}</li>
                            {{/marks}}
                        </ul>
                    </div>
                </div>
                {{/marks.length}}

                <div class="card bg-faded w-100 my-2">
                    <h5 class="card-header">Personality</h5>
                    <div class="card-body m-2">
                        <p class="card-text"><strong>{{ personality }}</strong></p>
                        {{#pros.length}}
                        <h5 class="card-title">Pros</h5>
                        <ul class="personality-pros">
                            {{#pros}}
                            <li>{{{.}}}</li>
                            {{/pros}}
                        </ul>
                        {{/pros.length}}

                        {{#cons.length}}
                        <h5 class="card-title">Cons</h5>
                        <ul class="personality-cons">
                            {{#cons}}
                            <li>{{{.}}}</li>
                            {{/cons}}
                        </ul>
                        {{/cons.length}}

                        {{#likes.length}}
                        <h5 class="card-title">Likes</h5>
                        <ul class="personality-likes">
                            {{#likes}}
                            <li><i class="fas fa-heart"></i><span class="mx-1">{{{.}}}</span></li>
                            {{/likes}}
                        </ul>
                        {{/likes.length}}


                        {{#dislikes.length}}
                        <h5 class="card-title">Dislikes</h5>
                        <ul class="personality-dislikes">
                            {{#dislikes}}
                            <li><i class="fas fa-heart-broken"></i><span class="mx-1">{{{.}}}</span></li>
                            {{/dislikes}}
                        </ul>
                        {{/dislikes.length}}
                    </div>
                </div>

                {{#bio}}
                <div class="card bg-faded w-100 my-2">
                    <h5 class="card-header">Bio</h5>
                    <div class="card-body m-2">
                        <p class="card-text">{{{bio}}}</p>
                    </div>
                </div>
                {{/bio}}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <!-- Copyright -->
        <small class="col-12 text-right text-monospace">
            <a href="https://toyhou.se/FurudBat">Code by Furudbat</a>
        </small>
        <!-- Copyright -->
    </div>
</div>