<div class="container" style="margin: auto;">
    <div class="row no-gutters mt-3">
        <div class="row mx-2">
            <div class="col-5 p-4 bg-faded rounded">
                <img src="{{{images.avatar}}}" class="img-fluid rounded-circle" alt="Avatar">
                <h4 class="mt-1 text-center">{{ title }}</h4>
            </div>
            <div class="col-7 mt-2">
                <div class="profile-fields-content fields">
                    {{#name}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Name</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ name }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/name}}

                    {{#sex}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Sex</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ sex }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/sex}}

                    {{#pronouns}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Pronouns</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ pronouns }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/pronouns}}

                    {{#species}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Species</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ species }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/species}}

                    {{#weight}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Weight</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ weight }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/weight}}

                    {{#height}}
                    <div class="row fields-field">
                        <div class="field-title col-lg-3 col-md-4 fr-view">
                            <strong>Height</strong>
                        </div>
                        <div class="field-value col-lg-9 col-md-8 fr-view">
                            <p>{{ height }}</p>
                        </div>
                    </div>
                    <hr class="w-100 my-1">
                    {{/height}}
                </div>
            </div>
        </div>
    </div>