<div class="row">
    <div class="col-2">
        <img src="{{{images.avatar}}}" class="img-fluid rounded-circle" alt="Avatar">
        <h4 class="mt-1 text-center">{{ title }}</h4>
    </div>
    <div class="col-10">
        <div class="profile-fields-content fields">
            <div class="row fields-field">
                <div class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Name</p>
                </div>
                <div class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ name }}</p>
                </div>
            </div>
            <div class="row fields-field">
                <div class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Sex</p>
                </div>
                <div class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ sex }}</p>
                </div>
            </div>
            <div class="row fields-field">
                <div class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Species</p>
                </div>
                <div class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ species }}</p>
                </div>
            </div>
            <div class="row fields-field">
                <div class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Weight</p>
                </div>
                <div class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ weight }}</p>
                </div>
            </div>
            <div class="row fields-field">
                <div class="field-title col-lg-3 col-md-4 fr-view">
                    <p>Height</p>
                </div>
                <div class="field-value col-lg-9 col-md-8 fr-view">
                    <p>{{ height }}</p>
                </div>
            </div>
        </div>
    </div>
</div>